{% extends "bootstrap/base.html" %}
{% block navbar %}
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="navbar-brand" href="/">Simple file manager</a>
                <div class="nav-collapse collapse">
                   <ul class="nav pull-right">
                        <li>
                            <form class="navbar-search pull-left" action="/search" method="POST">
                                <input class="search-query span2" type="text" placeholder="Search" name="q">
                            </form>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
{% endblock navbar %}
